#root {
    background-color: black;
    color: rgb(249, 212,48);
    height: 100vh;
}

.todoPageContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 'header header'
                         'todoForm todoList';
}

.todoList {
    grid-area: todoList;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

h1 span {
    color: red;
}
