
.disabled.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    background-color: rgba(255, 255, 255, 0.3);
}

.todoForm {
    position: relative;
    top: 1.5rem;
    grid-area: todoForm;
    display: flex;
    align-items: center;
    row-gap: 3rem;
    width: 60%;
    flex-flow: column;
}

.todoForm button {
    color: black;
    background-color: rgb(249, 212, 48);
    border-radius: 10px;
    width: 190px;
}

.todoForm input {
    background: aliceblue;
    border-radius: 10px;
}

