.content {
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    background-color: rgb(249, 212,48);
    color: black;
    font-family: verdana;
    font-size: 14px;
    display: flex;
    justify-content: space-between;

}

.header {
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
    display: flex;
    justify-content: space-between;
}

.header span {
    justify-self: end;
}

.todoListContainer {
    display: flex;
    flex-flow: column;
    /* inverted gap as row-gap since flex-flow is set to column*/
    row-gap: 0.6250rem;
    overflow: scroll;
    max-height: 31.25rem;
}

.todoListItem {
    width: 500px;
}
